.login-form {
  width: 700px;
  height: 600px;
  background-color: rgba(78, 78, 76, 0.233);
  border: 4px solid rgb(116, 111, 111);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-login-input,
.user-password-input {
  width: 50%;
  line-height: 1em;
}

.login-form > label {
  line-height: 1em;
  margin: 0;
  display: none;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.warning-message {
  height: 20px;
}

.warning-message > span {
  color: rgba(173, 0, 0, 0.479);
  font-size: 1.2em;
}

.user-login-input,
.user-password-input {
  padding: 20px;
  border: 5px solid #7a7979;
  border-radius: 5px;
  width: 60%;
  height: 40px;
  margin-bottom: 20px;
  font-size: 1.2em;
  transition: 0.4s all ease;
}

.user-login-input:focus,
.user-password-input:focus {
  outline: none;
  border-color: #000000c7;
  background-color: whitesmoke;
}

.button-submit {
  width: 40%;
  height: 50px;
  border: 5px solid #7a7979;
  background-color: #7a797978;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 4px;
  color: #333333;
  transition: 0.4s all ease;
}

.button-submit:hover {
  border-color: #7a79795e;
  background-color: #3a3a3a3a;
  color: #333333c4;
}

