* {
  box-sizing: border-box;
}

.Chat {
  max-width: 1200px;
  width: 90%;
  margin: 20px auto;
}

.page-header {
  width: 100%;
  display: grid;
  grid-template-columns: 100px 100px 100px calc(100% - 300px);
  border: 5px ridge rgba(0, 0, 0, 0.568);
  padding: 15px 10px;
}

.header-last-message {
  text-align: right;
}

.delete-message {
  display: none;
}

.message-like {
  cursor: pointer;
}

.message-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 18px;
  width: 100%;
  border: 5px ridge rgba(0, 0, 0, 0.178);
  background-color: #8d8d8d6b;
  height: 71vh;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.message-logo > img {
  width: 70px;
  height: 70px;
  /* border-radius: 100%;  */
  border: 3px solid #8d8d8d6b;
}

.main-message {
  display: grid;
  grid-template-columns: 80px calc(100% - 80px);
  /* grid-template-rows: 90px; */
  /* display: flex; */
  /* justify-content: flex-start; */
  /* border: 10px solid whitesmoke; */
  border-radius: 15px;
  width: 600px;
  background-color: whitesmoke;
  /* padding-right: 00px; */
  padding: 10px 10px 10px 10px;
  /* min-height: 90px; */
  /* height: auto; */
}

.message-author {
  line-height: 0.9em;
}

.message-text {
  text-align: justify;
}

.main-message:not(:last-child) {
  margin-bottom: 10px;
}

.message-logo {
  font-size: 0;
}

.message-info {
  width: 100%;
  height: 100%;
  /* margin-left: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-author {
  font-weight: 700;
  font-size: 1.25em;
}

.message-date {
  line-height: 0.8em;
}

.message-info-upper {
  display: flex;
  justify-content: space-between;
}

.message-info-upper .message-date {
  color: gray;
}

.message-info-bottom {
  display: flex;
  justify-content: flex-start;
  line-height: 1em;
}

.message-input {
  padding-left: 30px;
  height: 50px;
  width: 80%;
}

.message-submit {
  height: 50px;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.712);
  color: white;
  text-transform: uppercase;
  border: none;
  transition: 0.3s all ease;
  font-weight: bold;
  border: 2px solid rgb(119, 119, 119);
}

.message-submit:hover {
  background-color: rgba(221, 216, 216, 0.767);
  color: black;
  border: 2px solid black;
}

.main-message.my-message .message-logo {
  display: none;
}

.my-message.main-message {
  align-self: flex-end;
}

.main-message.my-message .message-info-bottom {
  display: flex;
  justify-content: space-between;
}

.main-message.my-message {
  display: block;
}

.message-info-bottom-right {
  display: flex;
}

.delete-message-my {
  margin-left: 10px;
  cursor: pointer;
}

.message-edit {
  display: none;
  cursor: pointer;
}

.my-message.main-message:hover .message-edit {
  display: block;
}

.nav-button {
  font-size: 1.1em;
  padding: 10px;
  margin: 0 5px 5px 0;
  background-color: rgba(128, 128, 128, 0.431);
  outline: none;
  border-radius: 10px;
  border: 2px solid grey;
  transition: 0.4s all ease;
}

.nav-button:hover {
  border: 2px solid black;
  background-color: rgba(59, 59, 59, 0.623);
  color: whitesmoke;
}

.delete-message-my,
.message-like,
.message-edit {
  color: grey;
  transition: 0.4s color ease;
}

.delete-message-my:hover,
.message-like:hover,
.message-edit:hover {
  color: rgb(47, 47, 47);
}
