.user-modal-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-modal {
  padding: 20px;
  border: 5px solid #7a7979;
  height: 80%;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(187, 187, 187, 0.616);
}

.modal-top {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal-name {
  font-size: 1.4em;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.664);
}

.modal-top-line {
  width: 100%;
  height: 5px;
  border-radius: 50%;
  background-color: #7a7979;
}

.modal-user-name, 
.modal-user-password, 
.modal-user-email {
  padding: 20px;
  border: 5px solid #7a7979;
  border-radius: 5px;
  width: 90%;
  height: 40px;
  margin-bottom: 20px;
  font-size: 1.2em;
  transition: 0.4s all ease;
}

.modal-user-name:focus, 
.modal-user-password:focus, 
.modal-user-email:focus {
  outline: none;
  border-color: #000000c7;
  background-color: whitesmoke;
}

.modal-buttons button {
  width: 40%;
  height: 50px;
  border: 5px solid #7a7979;
  background-color: #7a797978;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 4px;
  color: #333333;
  transition: 0.4s all ease;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  outline: none;
}

.modal-buttons button:hover {
  background-color: #3a3a3a3a;
  border-color: #7a79795e;
  color: #333333c4;
}