* {
  box-sizing: border-box;
}

.loading-page {
  position: absolute;
  top: 48%;
  left: 40%;
  font-size: 3em;
  color: rgba(134, 134, 134, 0.801);
}

.user-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-list {
  width: 600px;
  min-height: 500px;
  padding: 20px;
  border: 10px solid rgb(172, 171, 171);
  background-color: whitesmoke;
}

.user-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-buttons > button {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  width: 100px;
  height: 60px;
  margin: 2px;
  border: 2px solid rgba(185, 185, 185, 0.705);
  background-color: rgba(122, 120, 120, 0.308);
  border-radius: 10%;
  transition: 0.5s all ease;
  cursor: pointer;
}

.user-info {
  display: grid;
  width: 60%;
  grid-template-columns: 2fr 1fr;
}

.user-email > span,
.user-name > span {
  padding: 2px;
  border-bottom: 3px solid rgba(122, 120, 120, 0.664);
  font-size: 1.2em;
  border-radius: 10%;
}

.user-buttons > button:hover {
  border: 2px solid rgba(61, 59, 59, 0.534);
  background-color: rgba(122, 120, 120, 0.712);
  color: whitesmoke;
}